h1,
h2,
h3,
h4,
li,
p {
	font-family: sans-serif;
	color: #444;
}

h1,
h2,
h3 {
	color: #2cb7d6fc;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
}
p {
	font-size: 22px;
	line-height: 1.5;
}

h3 {
	font-family: sans-serif;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

li {
	font-size: 20px;
}

footer p {
	font-size: 16px;
	text-align: right;
}

/* article header p {
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-size: 16px;
	text-align: right;
}
.related-author {
	font-size: 18px;
	font-weight: bold;
}

/* remove bullet points */
/* ul {
	list-style: none;
} */

.related {
	list-style: none;
}

.main-header {
	background-color: #f7f7f7;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #2cb7d6fc;
	border-bottom: 5px solid #2cb7d6fc;
}

/* body {
	background-color: rgb(221, 221, 243);
} */

/* .first-li {
	font-weight: bold;
} */

/* pseudo class */
li:first-child {
	font-weight: bold;
}
li:last-child {
	font-style: italic;
}

/* li:nth-child(2) {
	color: red;
} */

/* li:nth-child(odd) {
	color: green;
} */

/* misconception about pseudo class:  */
article p:first-child {
	/*trying to select to selet the p element if it is the first child element of the article element*/
	color: red;
} /* The above will not work as p  is not the first child of the article element , rather header is the first child */

article p:last-child {
	color: red;
}
