* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Page Section */
body {
	font-family: sans-serif;
	line-height: 1.4;
	font-weight: 600;
}

/* links styling */
a:link,
a:visited {
	color: #0bd9e8;
}
a:hover,
a:active {
	text-decoration: none;
	color: orangered;
}

/* product title */
.product-title {
	background-color: rgb(246, 243, 243);
	text-align: center;
	padding: 15px;
}

/* pricing */
strong {
	font-size: 30px;
	font-weight: bolder;
	display: inline-block;
}

h3,
h2 {
	text-transform: uppercase;
}

/* Button Styling */
.add-cart {
	color: white;
	background-color: black;
	font-size: 20px;
	cursor: pointer;
	text-transform: uppercase;
	width: 100%;
	border-top: 5px solid black;
}
.add-cart:hover {
	background-color: white;
	color: black;
}

/*shipping  */

.shipping {
	color: #908989;
	text-transform: uppercase;
	/* margin-bottom: 20px; */
	padding-top: 20px;
	display: inline;
	font-size: 13px;
	font-weight: 800;
}
.product-use {
	margin-bottom: 10px;
}

/* details */
.detail-title {
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 15px;
}
.detail-list {
	list-style: square;
}

.detail-list li {
	margin-bottom: 10px;
	margin-left: 30px;
}
.container {
	width: 825px;
	margin: 50px auto;
	border: 4px solid #040404;
	position: relative;
}

/* .more-info {
	margin-bottom: 10px;
	/* above code not work for link element  */
/* } */

.more-info {
	margin-bottom: 10px;
	display: inline-block;
}

/* creating SALE label on the article using html and then styling it */
/* .container p:first-child {
	display: inline-block;
	background-color: red;
	color: white;
	padding: 5px;
	position: absolute;
	top: -20px;
	left: -20px;
	letter-spacing: 5px;
} */

/* creating SALE label on the article using pseudo element only */
h2::after {
	content: "SALE";
	color: white;
	font-size: 20px;
	background-color: red;
	position: absolute;
	top: -20px;
	left: -45px;
	letter-spacing: 5px;
	display: inline-block;
	padding: 5px 10px;
	/* width: 80px; */
	/* text-align: center; */
}

.colors-choice div {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border: 2px solid black;
}
div .red {
	background-color: red;
}
div .blue {
	background-color: blue;
}
div .green {
	background-color: green;
}
div .white {
	background-color: white;
}
div .purple {
	background-color: purple;
}

.sec-1 {
	float: left;
	margin-right: 25px;
	margin-top: 30px;
}
.sec-2,
.sec-3 {
	float: left;
	width: 241px;
	margin-right: 30px;
	margin-top: 20px;
}

button {
	clear: both;
}

.sec-1 {
	margin-top: 0;
	display: inline-block;
}

strong {
	float: left;
}
.shipping {
	float: right;
	text-align: justify;
}
.price-shipping {
	margin-bottom: 60px;
}
.product-use {
	clear: both;
}
